/* studio */
/* 2. main */
.main {
    
}

/* 2.1 hero */
.hero {
    background-color: var(--color-background-main);
}

.hero-figure {
    display: flex;
    flex-flow: column;
}

.img {
    height: 600;
    padding-top: 0px;
    padding-left: 0px;
}

.figcaption-title {
    padding: 20px;
    text-align: center;
}

.hero .title {
    width: 696px;
    color: var(--color-text-alternative);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* button */
.button {
    background-color: var(--color-accent-primary);
    color: var(--color-text-alternative);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px 10px 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* 2.2 advantage */
.advantage {
    margin-top: 94px;
    padding-left: 215px;
}
.advantage-menu {
    display: flex;
}

.box-a {
    height: 251px;
    width: 270px;
}

.box-a .title {
    padding-top: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    letter-spacing: 0.03em;
}
.box-a .text {
    color: var(--color-text-secondary);
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
}

/* 2.3 task */
.task {
    margin-top: 94px;
    padding-left: 215px;
}
.task .title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

}

.task-li {
    margin-right: 30px;
}
.task .text {
    color: var(--color-text-primary);
    font-family: var(--text-primary);
    text-align: center;
    padding-top: 0px;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.task-menu {
    display: flex;
}

.task-menu .item {
    text-decoration: none;
}

/* 2.4 autors */
.autors {
    margin-top: 188px;
    padding-left: 215px;
}

.task .title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

}

.autors-menu {
    display: flex;
}

.autors-item {
    margin-right: 30px;
    width: 270px;
    height: 458px;
}

.autors .family {
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
}

.autors .text {
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
}
